/* Dark mode by default */
body {
    background-color: #1a1a1a;
    color: #fff;
}

/* Center main heading */
h1 {
    text-align: center;
}

div {
    background-color: #2f2f2f;
    border-radius: 5px;
    color: #fff;
    margin: 20px;
    padding: 20px;
}

/* Image Size: 400 x auto -- align image center*/
img {
    width: 400px;
    height: auto;
    display: block;
    margin: 0 auto;
}


h5 {
    background-color: #2f2f2f;
    border-radius: 5px;
    display: inline;
    font-size: 14px;
    margin: 5px;
    padding: 5px;
}

/* Don't change color even after visiting the link */
a {
    color: #fff;
    text-decoration: none;
}