/* Dark mode by default */
body {
    background-color: #1a1a1a;
    color: #fff;
}

/* Heading must be in center */
h1 {
    text-align: center;
}

li {
    background-color: #2f2f2f;
    border-radius: 5px;
    display: inline;
    margin: 5px;
    list-style: square;
    padding: 5px;
}

/* Don't change color even after visiting the link */
a {
    color: #fff;
    text-decoration: none;
}